{% extends 'base.html' %}

{% block title %}Staff List{% endblock %}

{% block content %}

<h2>Staff List</h2>


<form method="GET">

    <input type="text"
           name="q"
           placeholder="Search by name..."
           value="{{ request.GET.q }}">

    <select name="status">
    <option value="">All Status</option>
    <option value="active">Active</option>
    <option value="resigned">Resigned</option>
    <option value="terminated">Terminated</option>
    <option value="repatriated">Repatriated</option>
    </select>

    <select name="gender">
        <option value="">All Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    <select name="contract_type">
        <option value="">All Contract Types</option>
        <option value="short_contract">Short Contract</option>
        <option value="pay_scale">Pay Scale</option>
        <option value="railway_employee">Railway Employee</option>
        <option value="other">Other</option>
    </select>
    
    <select name="posting_place">
        <option value="">All Posting Places</option>

        {% for place in posting_places %}
            <option value="{{ place }}"
                {% if request.GET.posting_place == place %}selected{% endif %}>
                {{ place }}
            </option>
        {% endfor %}

    </select>

    <input type="submit" value="Search">

    <a href="{% url 'staff_list' %}">Clear</a>

</form>

<a href="{% url 'add_staff' %}">Add Staff</a>
<a href="{% url 'terminated_staff' %}">Terminated Staff</a>
<a href="{% url 'staff_list_print' %}" target="_blank">Print Staff List</a>
<a href="{% url 'export_excel' %}?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}"> Download Excel</a>
<a href="{% url 'export_pdf' %}?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}">  Download PDF</a>
<div class="table-wrapper">
<table border="1" cellpadding="8">
    <tr>
        <th>S#</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Pay Scale</th>
        <th>Date of Joining</th>
        <th>Basic Pay</th>
        <th>Posting Place</th>
        <th>Gross Pay</th>
        <th>Status</th>
        <th>Photo</th>
        <th>Contract Type</th>
        {% if user.is_staff %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
        <th>Service History</th>
        <th>View</th>
        <th>Change Status</th>
    </tr>
    {% for member in page_obj %}
    <tr>
        <td>{{ member.serial_number }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.designation }}</td>
        <td>{{ member.pay_scale }}</td>
        <td>{{ member.date_of_joining }}</td>
        <td>{{ member.basic_pay }}</td>
        <td>{{ member.posting_place }}</td>
        <td>{{ member.gross_pay }}</td>
        <td>{{ member.status }}</td>
        <td>
    {% if member.photo %}
        <img src="{{ member.photo.url }}"
             alt="{{ member.name }}"
             width="50"
             height="60"
             style="object-fit: cover;">
    {% elif member.gender == 'female' %}
        <img src="/media/staff_photos/default_female.jpg"
             alt="Female Staff"
             width="50"
             height="60"
             style="object-fit: cover;">
    {% else %}
        <img src="/media/staff_photos/default_male.jpg"
             alt="Male Staff"
             width="50"
             height="60"
             style="object-fit: cover;">
    {% endif %}
</td>
        <td>{{ member.get_contract_type_display }}</td>
    {% if user.is_staff %}
        <td><a href="{% url 'edit_staff' member.pk %}">Edit</a></td>
        <td><a href="{% url 'delete_staff' member.pk %}">Delete</a></td>
    {% endif %}
        <td><a href="{% url 'staff_history' member.pk %}">Service History</a></td>
        <td><a href="{% url 'staff_detail' member.pk %}">View</a></td>
        <td><a href="{% url 'separate_staff' member.pk %}">Separate</a></td>
    </tr>
    {% endfor %}
</table>
</div>

<div>

    {% if page_obj.has_previous %}
        <a href="?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}&page=1">
            First
        </a>

        <a href="?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}&page={{ page_obj.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}&page={{ page_obj.next_page_number }}">
            Next
        </a>

        <a href="?q={{ request.GET.q }}&status={{ request.GET.status }}&gender={{ request.GET.gender }}&contract_type={{ request.GET.contract_type }}&page={{ page_obj.paginator.num_pages }}">
            Last
        </a>
    {% endif %}

</div>
{% endblock %}

