{% extends 'base.html' %}

{% block title %}Staff List{% endblock %}

{% block content %}

<h2>Staff List</h2>
<form method="GET">
    <input type="text" name="q" placeholder="Search by name...">
    <input type="submit" value="Search">
</form>
<div class="table-wrapper">
<table border="1" cellpadding="8">
    <tr>
        <th>S#</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Pay Scale</th>
        <th>Date of Joining</th>
        <th>Basic Pay</th>
        <th>Posting Place</th>
        <th>Gross Pay</th>
        <th>Photo</th>
        <th>Contract Type</th>
        {% if user.is_staff %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
        <th>Service History</th>
        <th>View</th>
    </tr>
    {% for member in page_obj %}
    <tr>
        <td>{{ member.serial_number }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.designation }}</td>
        <td>{{ member.pay_scale }}</td>
        <td>{{ member.date_of_joining }}</td>
        <td>{{ member.basic_pay }}</td>
        <td>{{ member.posting_place }}</td>
        <td>{{ member.gross_pay }}</td>
        <td>
    {% if member.photo %}
        <img src="{{ member.photo.url }}" width="50">
    {% endif %}
    </td>
        <td>{{ member.get_contract_type_display }}</td>
    {% if user.is_staff %}
        <td><a href="{% url 'edit_staff' member.pk %}">Edit</a></td>
        <td><a href="{% url 'delete_staff' member.pk %}">Delete</a></td>
    {% endif %}
        <td><a href="{% url 'staff_history' member.pk %}">Service History</a></td>
        <td><a href="{% url 'staff_detail' member.pk %}">View</a></td>
    </tr>
    {% endfor %}
</table>
</div>
<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}

